%h1 The Lion Tribe
%table
  %thead
    %tr
      %th Name
      %th Race
      %th Age
      %th
      %th
      %th
  %tbody
    - @animals.each do |animal|
      %tr
        %td
          = animal.name
        %td
          = animal.race
        %td
          = animal.age
        %td
          = link_to 'Show', sti_animal_path(animal.race, animal)
          = link_to 'Edit', '#'
          = link_to 'Destroy', '#', method: :destroy, data: { confirm: 'Are you sure?' }
          = link_to "See all #{animal.race.pluralize}", sti_animal_path(animal.race)

= link_to 'See all animals', sti_animal_path
= link_to "New #{@race}", sti_animal_path(@race, nil, :new)