%h1 The Lion Tribe
%table
  %thead
    %tr
      %th Name
      %th Race
      %th Age
      %th
      %th
      %th
  %tbody
    - @animals.each do |animal|
      %tr
        %td
          = animal.name
        %td
          = animal.race
        %td
          = animal.age
        %td
          = link_to 'Show', '#'
          = link_to 'Edit', '#'
          = link_to 'Destroy', '#', method: :destroy, data: { confirm: 'Are you sure?' }
